<div class="holder">
    <article class="wrap">
        <h2>Assistência Qualificada</h2>

        <h3>Bem estar e segurança</h3>

        <picture class="right">
            <img src="img/page-homecare.png">
        </picture>

        <p>
            A Regenera Home Care entende o quanto a sua saúde e a saúde de quem 
            você ama são primordiais. Além de oferecer uma assistência qualificada, 
            prezamos pelo conforto, bem estar e segurança dos nossos assistidos.
        </p>

        <p>
            Todos os nossos planos de cuidado contemplam visita semanal de 
            enfermeiro para plano de cuidados e prontuário eletrônico, que 
            atende a LGPD. 
        </p>

        <p>
            A vida é um bem precioso e deve estar nas mãos de quem cuida com 
            conhecimento, experiência e carinho.
        </p>

        <h3>Monomon monom mono</h3>

        <p>
            Momonomon monom mono mon momonomo monomon monom mono mon momonomo
            monomon monom mono mon momonomo monomon monom mono mon momonomo
            monomon monom mono mon momonomo
        </p>

        <h3>Monomon monom mono</h3>

        <p>
            Momonomon monom mono mon momonomo monomon monom mono mon momonomo
            monomon monom mono mon momonomo monomon monom mono mon momonomo
            monomon monom mono mon momonomo
        </p>
    </article>
</div>