<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>Components</title>
        <link rel="shortcut icon" href="./assets/icon.png">
        <link rel="stylesheet" href="../../../dist/app.css">
    </head>

    <body>
        <div class="holder one">
            <div class="wrap two box-double">
                <div>One</div>

                <div>Two df ds ds  ds dsds </div>
            </div>
        </div>

        <br>

        <div class="holder one">
            <div class="wrap two box-double-static">
                <div>STATIC</div>

                <div>Two df ds ds  ds dsds </div>
            </div>
        </div>

        <br>

        <div class="holder one">
            <div class="wrap two box-triple">
                <div>One sdfdsa dsfdsf dfdsf</div>
                <div>Two</div>
                <div>Threedfsdf</div>
            </div>
        </div>

        <br>

        <div class="holder one">
            <div class="wrap two box-triple-static">
                <div>STATIC</div>
                <div>Two</div>
                <div>Threedfsdf</div>
            </div>
        </div>

        <br>

        <div class="holder one">
            <div class="wrap two box-quad">
                <div>One sdfdsa dsfdsf dfdsf</div>
                <div>Two</div>
                <div>Threedfsdf</div>
                <div>Threedfsdf fd fads fasd fas f sdf sdf s</div>
            </div>
        </div>

        <br>

        <div class="holder one">
            <div class="wrap two box-quad-static">
                <div>STATIC</div>
                <div>Two</div>
                <div>Threedfsdf</div>
                <div>Threedfsdf fd fads fasd fas f sdf sdf s</div>
            </div>
        </div>
    </body>
</html>
