<header class="page">
    <div class="content">
        <div class="holder">
            <section class="wrap">
                <h1>{{ headerTitle }}</h1>

                <h2>{{ headerDescription }}</h2>
            </section>
        </div>
    </div>

    <div class="background">
        <div class="holder">
            <section class="wrap">
                <img src="{{ headerBackground }}" alt="" />
            </section>
        </div>
    </div>

    <div class="mask">
        <div class="holder">
            <section class="wrap">
                <img src="img/logo-page.png" alt="" />
            </section>
        </div>
    </div>
</header>
