<nav class="mobile-menu">
    <ul>
        <li class="mobile-button">
            <i class="fa-solid fa-times fa-xl"></i>
        </li>

        {{#each mobileLinks}}
            <li>
                <a href="{{ this.url }}">
                    <i class="fa-solid {{ this.icon }} fa-xl"></i>
                    <span>{{ this.label }}</span>
                </a>
            </li>
        {{/each}}
    </ul>
</nav>