<div class="holder">
    <article class="wrap">
        <h2>Oferecemos o treinamento que você precisa</h2>

        <h3>Uma equipe bem treinada</h3>

        <picture class="right">
            <img src="img/page-consultancy.png">
        </picture>

        <p>
            Uma equipe treinada, ciente do seu papel na assistência, que tenha 
            claro as atividades a serem realizadas é muito mais engajada e produz 
            resultados muito melhores!
        </p>

        <p>
            É por isso que a Regenera oferece treinamento na área da saúde para 
            todos os tipos de público: do leigo ao profissional graduado. 
        </p>

        <p>
            <a href="{{ pageContact.link }}">Entre em contato conosco</a> e 
            torne seus funcionários um time de sucesso!
        </p>
        

        <h3>Monomon monom mono</h3>

        <p>
            Momonomon monom mono mon momonomo monomon monom mono mon momonomo
            monomon monom mono mon momonomo monomon monom mono mon momonomo
            monomon monom mono mon momonomo
        </p>

        <h3>Monomon monom mono</h3>

        <p>
            Momonomon monom mono mon momonomo monomon monom mono mon momonomo
            monomon monom mono mon momonomo monomon monom mono mon momonomo
            monomon monom mono mon momonomo
        </p>
    </article>
</div>