<div class="holder">
    <article class="wrap">
        <h2>Existimos para devolver vida à vida</h2>

        <h3>Quem Somos?</h3>

        <picture class="right">
            <img src="img/page-wounds.png">
        </picture>

        <p>
            Idealizada por quem entende o quanto o cuidado e a assistência de 
            qualidade impactam na vida das pessoas de das operadores, a 
            <a href="{{ pageHomeCare.link }}">Regenera Cuidado Home Care</a>
            sabe que a excelência não é alcançada por uma pessoa, 
            <strong>mas por um time<strong>.
        </p>

        <p>
            Acreditamos que fazer melhor aquilo que amamos, além de nos 
            <strong>garantir resultados mais rápidos e duradouros</strong>, 
            também nos proporciona conhecer pessoas e <strong>fazer a diferença
            em suas vidas</strong>
        </p>

        <h3>De volta ao Cotidiano</h3>

        <p>
            Esta iniciativa adotada pela Empresa Regenera, de forma sistematizada,
            e ao mesmo tempo humana, baseia-se nos <strong>principais pilares de 
            estruturaçao dos cuidados primários em saúde</strong>, previstos na
            literatura científica nacional e internacional: acolhimento, 
            acompanhamento do paciente, reconhecimento das diferentes demandas,
            centralidade na família, coordenação e integralidade do cuidado.
        </p>

        <p>
            Por isso, adotamos a linguagem de <strong>cuidados de transição e
            reinserção na vida cotidiana</strong> como lemas.
        </p>

        <h2>Porquê escolher a Regenera?</h2>

        <p>
            Porquê entendemos que a vida é bem melhor quando podemos 
            <strong>vivê-la plenamente</strong>.
        </p>

        <p>
            Permitir que os nossos pacientes possam experienciar isso nos leva
            a adotar a prática dos Cuidados de Transição.
        </p>

        <h3>Nosso Diferencial</h3>

        <ul>
            <li>Acolhimento intra-hospitalar;</li>
            <li>Cuidados de Transição com Plano Terapêutico;</li>
            <li>Planejamento de alta domiciliar;</li>
            <li>Foco em Reabilitação;</li>
            <li>Prontuário Eletrônico;</li>
            <li>Uso de ferramentas validadas (NEAD, AGA etc);</li>
            <li>Abertura para participação nas Reuniões;</li>
            <li>Multiprofissionais para discussão dos casos.</li>
        </ul>
    </article>
</div>