body.contact {
    address {
        p {
            font-size: 20px;
            line-height: 30px;
        }

        div {
            margin: 30px;
            border: 1px solid #eee;
            border-radius: 20px;
            overflow: hidden;
        }
    }
}