<div class="holder">
    <article class="wrap">
        <h1>Porquê nosso trabalho é diferente</h1>

        <h2>Subtítulo</h2>

        <picture class="right">
            <img src="img/page-wounds.png">
        </picture>

        <p>
            Estamos à disposição e ficamos muito felizes com seu contato e também 
            sua visita. Venha tomar um café e descobrir como podemos auxiliar em um 
            tratamento de qualidade.
        </p>

        <p>
            Estamos à disposição e ficamos muito felizes com seu contato e também 
            sua visita. Venha tomar um café e descobrir como podemos auxiliar em um 
            tratamento de qualidade.
        </p>

        <h2>Subtítulo</h2>

        <p>
            Estamos à disposição e ficamos muito felizes com seu contato e também 
            sua visita. Venha tomar um café e descobrir como podemos auxiliar em um 
            tratamento de qualidade.
        </p>

        <h2>Subtítulo</h2>

        <p>
            Estamos à disposição e ficamos muito felizes com seu contato e também 
            sua visita. Venha tomar um café e descobrir como podemos auxiliar em um 
            tratamento de qualidade.
        </p>
    </article>
</div>