
$containerColor: yellow;
$wrapperColor: red;
$blockColor: rgb(83, 109, 255);

// container.scss

.wrapper {
    background-color: $wrapperColor;

    & .container {
        background-color: $containerColor;
    }
}

// blocks

.container > section {
    & > div {
        font-family: monospace;
        font-size: 13px;
        color: white;
        background-color: $blockColor;
    }

    &.double > div {
        background-color: darken($blockColor, 10%);
    }

    &.triple > div {
        background-color: darken($blockColor, 20%);
    }

    &.quad > div {
        background-color: darken($blockColor, 30%);
    }
}


