footer.content {
    background-color: #c5e2f0;
    background-image: url('img/footer.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-position-y: -5px;
    margin-top: 100px;
    font-family: 'Montserrat';
    font-weight: 300;

    & .wrap > div {
        display: grid;
        grid-template-areas:
            'logo'
            'one'
            'two'
            'three';

        & > img {
            grid-area: logo;
            position: relative;
            left: 50%;
            width: 313px;
            height: 241px;
            margin-left: -156px;
            margin-top: -70px;
        }

        & > div {
            margin-top: 20px;
        }

        & > div.column-one {
            grid-area: one;
            // background-color: red;
            color: #2a475d;
            
            & h2 {
                font-size: 24px;
                font-weight: 700;
                padding-bottom: 20px;
            }

            & p {
                line-height: 30px;
                font-size: 16px;
                font-weight: 500;
            }
        }

        & > div.column-two {
            grid-area: two;
            // background-color: green;
        }

        & > div.column-three {
            grid-area: three;
            // background-color: blue;
            padding-bottom: 20px;
        }

        & > div.column-two,
        & > div.column-three {
            & a {
                display: block;
                text-decoration: none;
                line-height: 30px;
                color: #2a475d;
                padding: 0 10px;
                max-width: 250px;
                border-radius: 10px;

                &:hover {
                    background-color: rgba(0, 0, 0, .05);
                }
            }
        }
    }
}

footer.bottom {
    margin-top: 0 !important;
    background-color: #2a475d;
    height: $navHeight;
    line-height: $navHeight;
    color: white;
    font-family: 'Montserrat';
    font-weight: 300;

    & > .wrap {
        & > div.social {
            display: none;
            padding-left: 20px;
    
            & a {
                padding-left: 20px;
                color: white;
                text-decoration: none;
    
                &:hover {
                    color: #c5e2f0;
                }
    
                & span {
                    display: none;
                }
            }
        }
    
        & > div.copy {
            padding-right: 20px;
            text-align: center;
            margin-top: 0;
    
            & span {
                display: none;
            }
        }
    }
}

@media (min-width:520px) { 
    footer.content {
        & .wrap {
            & > div {
                display: grid;
                grid-template-areas:
                    'logo logo logo'
                    'one one one'
                    'two . three';
                grid-template-columns: 45% auto 45%;
            }
        }
    }
}

// Tablet Devices
// Medium      ≥768px  = 720px

@media (min-width:768px) {
    footer.content {
        & > .wrap {
            & > div {
                display: grid;
                grid-template-areas:
                    'logo logo'
                    'one two';
                grid-template-columns: auto 35%;
            }

            & div.column-two {
                padding-bottom: 20px;
            }

            & div.column-three {
                display: none;
            }
        }
    }

    footer.bottom {
        margin-top: 0 !important;
        background-color: #2a475d;
        height: $navHeight;
        line-height: $navHeight;
        color: white;
        font-family: 'Montserrat';
        font-weight: 300;
    
        & > .wrap {
            & > div.social {
                display: block;
                padding-left: 0;
        
                & a {
                    padding-left: 20px;
                    color: white;
                    text-decoration: none;
        
                    &:hover {
                        color: #c5e2f0;
                    }
        
                    & span {
                        display: none;
                    }
                }
            }
        
            & > div.copy {
                text-align: center;
                margin-top: 0;
                padding-right: 0;
        
                & span {
                    display: none;
                }
            }
        }
    }
}

@media (min-width:992px) { 
    footer.content {
        & .wrap {
            & > div {
                display: grid;
                grid-template-areas:
                    'logo logo logo'
                    'one two three';
                grid-template-columns: auto 25% 25%;
            }

            & div.column-three {
                display: block;
            }
        }
    }

    footer.bottom .wrap {
        & > div.social {
            display: flex;
        }

        & > div.copy {
            & span {
                display: inline;
            }
        }
    }
}

@media (min-width:1200px) { 
    footer.content {
        & .wrap {
            & > div {
                grid-template-columns: auto 30% 30%;
            }
        }
    }
}