
body.index .action-bar {
    margin-top: -80px;

    & .wrap {
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
        position: relative;
        padding-top: $box-gap;
        padding-bottom: $box-gap;

        & > div {
            display: grid;
            grid-template-areas:
                'icon content';
            grid-template-columns: 60px auto;
            color: #274760;
            align-items: center;
            width: 260px;
            font-family: 'Montserrat';
            padding-left: 10px;

            &.to-contact:hover {
                border-radius: 20px;
                background-color: #eee;
            }

            & > i {
                grid-area: icon;
                font-size: 56px;
            }

            & > a {
                display: block;
                padding-left: 10px;
                text-decoration: none;

                & b {
                    font-size: 14px;
                    font-weight: bold;
                }

                &:visited  b{
                    color: #274760;
                }
    
                & p {
                    font-size: 18px;
                    color: #c2c2c2;
                    padding-top: 10px;
                }
            }

            & > button {
                height: 60px;
                width: 200px;
                background-color: #37c871;
                border-radius: 50px;
                border: 0;
                padding: 0 20px;
                font-size: 18px;
                font-weight: normal;
                text-shadow: 0 0 5px rgba(0, 0, 0, .3);
                color: #fff;
                cursor: pointer;

                &:hover {
                    background-color: lighten(#37c871, 10%);
                }
            }
        }
    }
}

@media (min-width:576px) { 
    body.index .action-bar .wrap {
        transition: width .5s;
        border-radius: 25px;

        & > div {
            padding-left: 20px;
            width: 240px;
        }
    }
}
