
// Mobile Devices
// Extra small <576px  = 100%
// Small       ≥576px  = 540px

body.index > header {
    background-image: url('img/header.svg');
    background-color: #f3edeb;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    text-align: center;
    position: relative;
    padding-top: 50px;

    & .wrap {
        margin-top: -260px;
        transition: width .5s;
        text-align: center;

        & h1,
        & h2 {
            font-size: 24px;
            font-family: 'Montserrat';
            color: $text-primary;
            font-size: 24px;
            width: 40%;
            padding-left: 30px;
            display: none;
        }

        & h1 {
            font-weight: 700;
            margin-bottom: 50px;
        }

        & button {
            display: inline-block;
            margin-top: 120px;
            text-align: left;
            text-decoration: none;
            color: $text-primary;
            font-size: 16px;
            font-family: 'Montserrat';
            width: 250px;
            margin-left: 20px;
            
            background-color: rgba(255, 255, 255, .9);
            border-radius: 40px;
            border-width: 0;
            cursor: pointer;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);

            & i {
                margin: 20px 0;
            }

            &:hover {
                background-color: lighten($text-primary, 10%);
                color: #fff;
            }
        }
    }
}

@media (min-width:576px) { 
    body.index > header {
        padding-top: 0;

        & .wrap {
            margin-top: -230px;
            text-align: left;

            & h1,
            & h2 {
                width: 50%;
                padding: 5px 40px;
                padding-left: 10px;
                background-color: transparent;
            }

            & h1 {
                margin-bottom: 40px;
            }

            & button {
                display: block;
                margin-left: 0;
            }
        }
    }
}

// Tablet Devices
// Medium      ≥768px  = 720px

@media (min-width:768px) { 
    body.index > header {
        height: 650px;

        & .wrap {
            margin-top: -320px;
    
            & h1 {
                font-size: 28px;
                display: block;
                width: 33%;
            }

            & button {
                margin-top: 0;
            }
        }
    }
}

@media (min-width:1200px) { 
    body.index > header {
        height: 800px;

        & .wrap {
            margin-top: -380px;
    
            & h1 {
                font-size: 38px;
                margin-bottom: 20px;
                width: 45%;
            }

            & h2 {
                display: block;
                font-size: 16px;
                font-weight: 300;
                margin-bottom: 40px;
                width: 35%;
            }
        }
    }
}
