$env: 'development';
$gap: 1em;

// @media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
// @media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */ }
// @media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
// @media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
// @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
// @media (min-width:1281px) { /* hi-res laptops and desktops */ }

:root {
    --nav-height: 40px;
}

main,
body {
    display: block;
    margin: 0;
    padding: 0;
}

@import 'scss/container.scss';
@import 'scss/blocks.scss';
@import 'scss/blocks-double.scss';
@import 'scss/blocks-triple.scss';
@import 'scss/blocks-quad.scss';

// body > header {
//     background-color: gray;
//     height: 500px;
// }

// body > nav {
//     position: fixed;
//     top: 0;
//     background-color: red;
//     height: var(--nav-height);
//     width: 100%;
// }

// body > nav > ul {
//     display: flex;
//     margin: 0;
//     padding: 0;
//     list-style: none;
// }

// body > nav > ul > li {
//     height: var(--nav-height);
//     line-height: var(--nav-height);
//     background-color: green;
//     padding: 0 10px;
// }


// .our-values {
//     background-color: #f4f7f8;
//     display: flex;
// }

// .our-values div {
//     background-color: #1b5385;
//     color: white;
//     flex: auto;
//     font-family: monospace;
//     font-size: 13px;
//     margin: 1em;
//     min-width: 0;
//     padding: 0.5em;
//     width: 110px;
// }