$env: 'development';
$gap: 1em;

// @media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
// @media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */ }
// @media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
// @media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
// @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
// @media (min-width:1281px) { /* hi-res laptops and desktops */ }

:root {
    --nav-height: 40px;
}

main,
body {
    display: block;
    margin: 0;
    padding: 0;
}

header {
    background-color: orange;
}

// .triple div {
//     margin-top: 30px !important;

//     &:nth-child(2) {
//         margin-top: 0 !important;
//     }
// }

@import 'scss/colors.scss';
@import 'scss/container.scss';
@import 'scss/blocks.scss';
@import 'scss/blocks-double.scss';
@import 'scss/blocks-triple.scss';
@import 'scss/blocks-quad.scss';
