<header>
    <picture>
        <source srcset="img/header-iphone.png" media="(max-width: 575px)" />
        <source srcset="img/header-ipad.png" media="(max-width: 767px)" />
        <source srcset="img/header-laptop.png" media="(max-width: 1200px)" />
        <img src="img/header-desktop.png" alt="" />
    </picture>
    
    <div class="holder">
        <section class="wrap">
            <h1>
                {{ htmlWebpackPlugin.options.title }}
                
                Curamos suas feridas muito mais rápido
            </h1>

            <h2>
                Através de um plano de cuidados que permita as pessoas 
                vivenciarem ao máximo sua autonomia, gerenciando os riscos 
                e mantendo o indivíduo saudável física, mental e espiritualmente.
            </h2>

            <button type="button">
                <i class="fa-regular fa-circle-play fa-2xl"></i>
                Veja como trabalhamos
            </button>
        </section>
    </div>
</header>