<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        {{> meta }}

        <title>{{ home.title }}</title>
        <link rel="shortcut icon" href="{{ favicon }}">
    </head>

    <body>
        {{> header-home }}

        {{> navigation-bar }}

        <div class="holder action-bar">
            <section class="wrap box-quad-static">
                <div class="to-contact">
                    <i class="fa-solid fa-phone"></i>

                    <div>
                        <h3>Telefone</h3>
                        <p>{{ phone }}</p>
                    </div>
                </div>

                <div class="to-contact">
                    <i class="fa-solid fa-map-location-dot"></i>

                    <div>
                        <h3>Localização</h3>
                        <p>{{ city }}</p>
                    </div>
                </div>

                <div class="to-contact">
                    <i class="fa-solid fa-envelope-open-text"></i>

                    <div>
                        <h3>Fale Conosco</h3>
                        <p>Entre em contato</p>
                    </div>
                </div>

                <div>
                    <button type="button">
                        Baixar e-book

                        <i class="fa-solid fa-arrow-right fa-xl"></i>
                    </button>
                </div>
            </section>
        </div>

        <h2 class="our-values">Nossos Valores</h2>

        <div class="holder our-values">
            <section class="wrap box-triple-static">
                <div>
                    <h2>
                        <i class="fa-solid fa-award"></i>
                        Excelência
                    </h2>

                    <hr>

                    <p>
                        Buscamos em tudo, zelar pela Excelência, atenção e esmero,
                        objetivando a entrega de um trabalho sem falhas e cada
                        vez mais assertivo.
                    </p>
                </div>

                <div>
                    <h2>
                        <i class="fa-solid fa-hand-holding-heart"></i>
                        Compaixão
                    </h2>

                    <hr>

                    <p>
                        Não há cuidado verdadeiro, sem compaixão para com aquele 
                        que está sendo cuidado. A cultura de nosso trabalho objetiva
                        a compaixão acima de tudo.
                    </p>
                </div>

                <div>
                    <h2>
                        <i class="fa-solid fa-street-view"></i>
                        Integridade
                    </h2>

                    <hr>

                    <p>
                        Nosso trabalho é íntegro e transparente. Buscamos 
                        verdadeiramente um cuidado da pessoa humana baseado em 
                        valores que enaltecem sua dignidade.
                    </p>
                </div>
            </section>
        </div>

        {{> footer }}
        
        {{> mobile-menu }}
    </body>
</html>
