<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <meta name="description" content="xxxxx xxx">
        <meta name="keywords" content="aaa, bbb">

        <meta itemprop="name" content="Regenera Cuidado">
        <meta itemprop="description" content="xxxxx xxx">
        <!-- <meta itemprop="image" content="aaa, bbb"> -->

        <title>Nossa História | <%= htmlWebpackPlugin.options.title %></title>
        <!-- <link rel="shortcut icon" href="./assets/icon.png"> -->
    </head>

    <body>
        <%= require('html-loader!./header-home.html').default %>

        <%= require('html-loader!./navigation-bar.html').default %>

        <h2 class="our-values">Nossos Valores</h2>

        <%= require('html-loader!./footer.html').default %>

        <%= require('html-loader!./mobile-menu.html').default %>
    </body>
</html>
