// -----------------------------------------------------------------------------
// Blocos base para duplos, triplos e quádruplos
// -----------------------------------------------------------------------------

.container > section {
    display: block;
    margin-top: $gap;

    & > div {
       background-color: rgb(83, 109, 255);
       color: white;
       font-family: monospace;
       font-size: 13px;
       height: 200px;
       min-width: 0;
       padding: 0.5em;

       & + div {
           margin-left: 0;
           margin-top: $gap;
       }
   }

   & + section {
       margin-top: $gap;
   }
}

@media (min-width:600px) { 
   .container > section {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        flex-grow: 1;

       & > div {
           flex: auto;

           & + div {
               margin-top: 0;
               margin-left: $gap;
           }
       }
   }
}

@media (min-width:900px) { 
    .container > section {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width:1025px) { 
   .container > section {
       & > div {
           & + div {
               margin-top: 0;
               margin-left: $gap;
           }
       }
   }
}
