// -----------------------------------------------------------------------------
// Conteineres
// .container: bloco centralizado que se ajusta conforme a largura do dispositivo
// .wrapper: bloco 100% para envolver o .container e possibilitar fundo colorido
// juntamente com ajuste interno do conteúdo conforme a largura do dispositivo
// -----------------------------------------------------------------------------

// @media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
// @media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */ }
// @media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
// @media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
// @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
// @media (min-width:1281px) { /* hi-res laptops and desktops */ }

body {
    display: block;
}

header {
    background-color: orange;
}

.wrapper  > .container > section {
    margin-top: 0;
}

@media (min-width:900px) { 
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        background-color: red;
        
        & + .wrapper {
            margin-top: $gap;
        }

        & > .container > section {
            background-color: green !important;
        }
    }

    .container {
        align-self: center;
        width: 900px;
        height: auto;
    }
}

@media (min-width:1310px) { 
    .container {
        width: 1310px
    }
}
