<div class="holder">
    <article class="wrap">
        <h2>Mono monomon monom mono mon momonomo</h2>

        <h3>Monomon monom mono</h3>

        <picture class="right">
            <img src="img/page-wounds.png">
        </picture>

        <p>
            Momonomon monom mono mon momonomo monomon monom mono mon momonomo
            monomon monom mono mon momonomo monomon monom mono mon momonomo
            monomon monom mono mon momonomo
        </p>

        <p>
            Momonomon monom mono mon momonomo monomon monom mono mon momonomo
            monomon monom mono mon momonomo monomon monom mono mon momonomo
            monomon monom mono mon momonomo
        </p>

        <h3>Monomon monom mono</h3>

        <p>
            Momonomon monom mono mon momonomo monomon monom mono mon momonomo
            monomon monom mono mon momonomo monomon monom mono mon momonomo
            monomon monom mono mon momonomo
        </p>

        <h3>Monomon monom mono</h3>

        <p>
            Momonomon monom mono mon momonomo monomon monom mono mon momonomo
            monomon monom mono mon momonomo monomon monom mono mon momonomo
            monomon monom mono mon momonomo
        </p>
    </article>
</div>