<h2 class="departments">Nosso Trabalho</h2>

<div class="holder departments">
    <section class="wrap box-triple-static">
        <div class="autolink" data-link="{{ pageHomeCare.link }}">
            <img src="img/department-homecare.png">
        </div>

        <div class="autolink" data-link="{{ pageWounds.link }}">
            <img src="img/department-wounds.png">
        </div>

        <div class="autolink" data-link="{{ pageConsultancy.link }}">
            <img src="img/department-consultancy.png">
        </div>
    </section>
</div>