<header>
    <picture>
        <source srcset="img/header-iphone.png" media="(max-width: 575px)" />
        <source srcset="img/header-ipad.png" media="(max-width: 767px)" />
        <source srcset="img/header-laptop.png" media="(max-width: 1200px)" />
        <img src="img/header-desktop.png" alt="" />
    </picture>
    
    <div class="holder">
        <section class="wrap">
            <h1>
                Home Care <br>
                Assitência Domiciliar
            </h1>

            <h2>
                Oferecemos Assistência Domiciliar, disponibilizando cuidados de 
                saúde ou de suporte, prestado por profissionais especializados 
                de forma humanizada no conforto do lar
            </h2>

            {{!-- <button type="button" class="modal-button">
                <i class="fa-regular fa-circle-play fa-2xl"></i>
                Veja como trabalhamos
            </button> --}}
        </section>
    </div>
</header>